<!-- src/presentation/views/admin/auth/reset-password.ejs -->
<div class="forgot-section">
    <h1>RESET PASSWORD</h1>
    <p>Enter a new password.</p>
    <% if (locals.message) { %>
      <div class="notification success"><p><%= message %></p></div>
    <% } %>
    <% if (locals.error) { %>
      <div class="notification error"><p><%= error %></p></div>
    <% } %>
    <form action="/admin/reset-password" method="POST">
      <input type="hidden" name="token" value="<%= token %>" />
      <div class="input-group">
        <i class="fa fa-lock input-icon"></i>
        <input type="password" name="password" placeholder="New Password" required />
      </div>
      <div class="input-group">
        <i class="fa fa-lock input-icon"></i>
        <input type="password" name="confirmPassword" placeholder="Confirm Password" required />
      </div>
      <button type="submit" class="submit-btn">RESET PASSWORD</button>
    </form>
  </div>
  