<nav id="sidebar" class="sidebar">
  <div class="sidebar-header">
    <div class="logo-container">
      <a href="/dashboard" class="logo">
        <div class="logo-wrapper">
          <img src="/images/logo.png" alt="ilo" class="logo-img">
        </div>
      </a>
    </div>
  </div>

  <ul class="list-unstyled sidebar-menu">
    <li class="sidebar-item <%= currentPage === 'dashboard' ? 'active' : '' %>">
      <a href="/dashboard" class="sidebar-link" data-tooltip="Dashboard">
        <i class="bi bi-grid-1x2-fill"></i>
        <span class="menu-text">Dashboard</span>
      </a>
    </li>

    <li class="sidebar-item <%= currentPage === 'transactionlogs' ? 'active' : '' %>">
      <a href="/transactionlogs" class="sidebar-link" data-tooltip="s">
        <i class="bi bi-arrow-left-right"></i>
        <span class="menu-text">Transaction</span>
      </a>
    </li>

        
    <!-- <li class="sidebar-item <%= currentPage === 'reports' ? 'active' : '' %>">
      <a href="/reports" class="sidebar-link" data-tooltip="Reports">
        <i class="bi bi-bar-chart-fill"></i>
        <span class="menu-text">Report</span>
      </a>
    </li> -->
  </ul>
</nav>