<!--user-activity-modal.ejs-->
<!-- User Activity Modal -->
<div id="userActivityModal" class="modal_activity">
    <div class="modal-content_act">
      <div class="modal-header">
        <h2>User Activity</h2>
        <button class="close-button" id="closeActivityModal">&times;</button>
      </div>
      <div class="modal-body_act">
        <div class="activity-list">
          <!-- Activity items will be populated here -->
        </div>
      </div>
    </div>
  </div>
 
 