<% if (typeof loginActivity !== 'undefined' && loginActivity) { %>
  <script>
    // Inject dynamic login activity from the server into a global variable
    window.loginActivity = '<%- JSON.stringify(loginActivity) %>';
  </script>
<% } else { %>
  <script>
    window.loginActivity = null;
  </script>
<% } %>
<!-- User Activity Modal -->
<!-- User Activity Modal -->
<div id="userActivityModal" class="modal_activity">
  <div class="modal-content_act">
    <div class="modal-header">
      <h2>My Login Activity</h2>
      <button class="close-button" id="closeActivityModal">&times;</button>
    </div>
    <div class="modal-body_act">
      <div class="activity-list">
        <!-- Activity items will be populated here -->
        <div class="loading-spinner">Loading activity data...</div>
      </div>
    </div>
  </div>
</div>

