/* Fixed search filter bar */
.search-filter-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    gap: 5px;
    /* background-color: #ffffff;
    padding: 6px 10px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05); */
  }
 
  .search-container {
    flex-grow: 1;
    position: relative;
    /* max-width: 900px; */
  }
 
  .search-icon {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #6c757d;
  }
 
  .search-input {
    width: 100%;
    padding: 8px 15px 8px 45px;
    border: 1px solid #ced4da;
    border-radius: 30px 5px 5px 30px;
    font-size: 12px;
   
  }
 
  .action-buttons {
    display: flex;
    gap: 5px;
  }
 
  .btn {
    padding: 8px 15px 8px 15px;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 12px;
  }
 
  .filter-btn {
    background-color: #ffffff;
    border-radius: 5px;
    border: 1px solid #ced4da;
    color: #212529;
  }
 
  .export-btn {
    background-color: #ffffff;
    border: 1px solid #ced4da;
    color: #212529;
    border-radius: 5px 30px 30px 5px;
  }

  @media (max-width: 420px) {
    /* Adjust search filter row */
    .search-filter-row {
        flex-wrap: wrap;
        gap: 5px;
        padding: 8px;
      }
   
      .search-container {
        width: 50%;
      }
 
      .search-icon {
        font-size: 12px; /* Adjust the size of the search icon */
        margin-right: 12px; /* Add spacing between the icon and the input field */
    }
   
      .search-input {
        font-size: 5px;
        padding: 5px 10px;
        width: 90%;
        margin-left: 10px;
        padding-left: 20px;
      }
   
      .action-buttons .btn {
        display: block;
        font-size: 9px;
        padding: 2px 5px;
      }
    }